version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    restart: always

    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: funding

    ports:
      - "5433:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d funding"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
